#invoices_results {
	width: 100%;
}

#invoices_result_title {
	font-size: 30px;
	color: $txt;
	text-align: left;
	margin: 0 0 20px 0;
	font-weight: 300;

	small {
		font-size: 18px;
		color: $gray;
	}
}