@charset "utf-8";
/* CSS Document */

/*Définition des polices personnalisées*/
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
    font-family: 'Pacifico', cursive;
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 100;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 100;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}


.presentation
{
    /*margin-left: 15%;*/
    background-color: rgba(255,255,255,0.3);

    /* width: 25%;
     margin-top: 80px;*/
    padding: 10px;
    border-radius: 8px;
    text-align: center;

}

div#image2
{

    background-color:rgba(255,255,255,0.5);
}


section{
    background-color: #ced7e6;/*#ced7e6, dfdfdf */
}

.main-example .label {
    font-size: normal;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 95px;
    width: 100%;
    color: #fff;
    text-transform: capitalize;
}
.home-welcome {
    padding: 10px 0 !important;
    width: 100%;
    text-align: center;
}

/* Social Medias */
ul.social-buttons {
    margin-bottom:0;
}
ul.social-buttons li a {
    display:block;
    background-color:#222;
    height:40px;
    width:40px;
    border-radius:100%;
    font-size:20px;
    line-height:40px;
    color:#fff;
    outline:0;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    transition:all 2s;
}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active {
    background-color:#fed136;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom:30px;
    margin-top:0;
}


/* Social media icons in the body of home page */
.social-slide {
    background-image: url('../images/facebook-hover.png');
    height: 40px;
    width: 40px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social-slide:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.social-slide2 {
    background-image: url('images/twitter-hover.png');
    height: 40px;
    width: 40px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social-slide2:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}


.icon-facebook:before {
    content: "\e86f";
}
.icon-facebook-sign:before {
    content: "\e736";
}
.icon-facebook2:before {
    content: "\e74d";
}
.icon-line2-social-facebook:before {
    content: "\e00b";
}
.si-sticky.si-sticky-right {
    left: auto;
    right: 8px;
}
.si-sticky {
    position: fixed;
    top: 75%;
    left: 5px;
    width: 36px;
    z-index: 100;
}

.social-icon {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.si-facebook:hover, .si-colored.si-facebook {
    background-color: #3B5998 !important;
}

.si-colored.social-icon {
    border-color: transparent;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.animated {
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.si-colored {
    border-color: transparent !important;
}


.social-icon {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.si-facebook:hover, .si-colored.si-facebook {
    background-color: #3B5998 !important;
}
.si-colored.social-icon {
    border-color: transparent;
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
.animated {
    opacity: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.si-colored {
    border-color: transparent !important;
}
.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px !important;
    color: #555;
    text-shadow: none;
    border: 1px solid #AAA;
    border-radius: 3px;
    overflow: hidden;
}

.social-icon {
    display: block;
    float: left;
    margin: 4px 11px 7px 0;
    text-align: center !important;
    font-size: 28px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    font-style: normal;
}
/* YouTube */
.si-colored.si-youtube {
    background-color: #C4302B !important;
}
.si-youtube:hover,
.si-colored.si-youtube { background-color: #C4302B !important; }
.si-youtube i { color: #C4302B; }

.social-icon i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social-icon i {
    display: block;
    position: relative;
}

[class^="icon-"], [class*=" icon-"], [class^="icon-line-"], [class*=" icon-line-"], [class^="icon-line2-"], [class*=" icon-line2-"], .side-header #primary-menu ul > li.sub-menu > a:after {
    display: inline-block;
    font-family: 'font-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-colored i {
    color: #FFF;
}

/* popout social media icons */
.social-popout {
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.social-popout img {
    border-radius: 50%;
    margin: 8px;
    width: 100%;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.social-popout img:hover {
    margin: 0px;
    box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}

section#contact .text-danger {
    color:#e74c3c;
}

#bb {
    z-index: 255;width:100%; height:700px;color:white;
}

#iframe-youtube {
    width:100%; height:250px;
}

#main-iframe {
    margin: 0!important;padding: 0!important;width:100%;/*border: 6px solid purple;*/height: 1000px;
}

#email {
    width: 70%;

}

#main-example {
    font-size: 20px;
}

/*#mc-embedded-subscribe{
    position: relative;
    left: 195%;
}*/

#main-iframe-container {
    width:100%;/*border: 6px solid blue;*/position: absolute;left:0.01%; z-index: 1;text-align: center;margin: 0;padding: 0;
    height: 1000px;
}

#main-body {
    margin: 0!important;padding: 0!important;overflow-x: hidden;border: 6px solid #000000;height: 1000px;
}

#text-project {
    font-size: 2em;
}


#header >ul> li :hover{
    background-color:#21c2f8;
    color:#fff;
    transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in ;
    -O-transition: background-color 1s ease-in ;
    -webkit-transition: background-color 1s ease-in;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .sfHover > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .sfHover > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .sfHover > a:focus {
    background-color:#21c2f8;
    color:#fff;
    transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in ;
    -O-transition: background-color 1s ease-in ;
    -webkit-transition: background-color 1s ease-in;
}

#header >ul> li>a :hover{
    color: #fff;
    transition: color 1s ease-in;
    -moz-transition: color 1s ease-in ;
    -O-transition: color 1s ease-in ;
    -webkit-transition: color 1s ease-in;
}

/* Page Index */
.actu-img img {
    border: 2px solid white;
}


/* Landing Page */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: rgba(33,194,248,0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 160px;
}

.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color:#818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:white;
}


/* Page Notre Equipe */
.front {

    /*background-color: rgb(95,158,160);*/
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);
    transition:transform 0.5s linear 0s;
    -webkit-transition: -webkit-transform 0.5s linear 0s;
    -moz-transition: -moz-transform 0.5s linear 0s;
    -o-transition: -o-transform 0.5s linear 0s;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;

}

 .back {
    position: absolute;
    transition: transform .5s linear 0s;
    transform: perspective( 600 ) rotateY(180deg);
    -webkit-transform: perspective( 600 ) rotateY(180deg);
    -moz-transform: perspective( 600 ) rotateY(180deg);
    -o-transform: perspective( 600 ) rotateY(180deg);
    -webkit-transition: -webkit-transform .5s linear 0s;-moz-transition: -moz-transform .5s linear 0s;-ms-transition: -ms-transform .5s linear 0s;-o-transition: transform .5s linear 0s;transition: transform .5s linear 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* ================= SMALL SCREENS ================================================== */

/*---------------- On Small Size Devices / Tablets (>=768px)-----------------------*/

@media (min-width: 768px) and (max-width: 992px) {

    #text-project {
        font-size: 3em;
    }

    #newsletter-paragraph {
        font-size: 2em;
    }

    #presentation {
        /*margin-left: 15%;*/
        background-color: rgba(255,255,255,0.1);
        /* width: 25%;
         margin-top: 80px;*/
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        top: 200px;

        font-size: 0.5em;
    }
    /*#email {
        width: 205%;
        position: relative;
        left: 135%;
    }
    #mc-embedded-subscribe{
        position: relative;
        left: 315%;
    }*/

    #presentation
    {
        /*margin-left: 15%;*/
        background-color: rgba(0,0,0,0.1);
        /* width: 25%;
         margin-top: 80px;*/
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        top: 20px;

        font-size: 0.5em;
    }

    #iframe-youtube {
        width:80%; height:170px;
    }

    #main-iframe-container {
        height: 603px;width: 100%;
    }

    #main-body {
        height: 603px;
    }
    #main-iframe {
        height: 603px;width: 100%;
    }

}

/*---------------------On Extra Small Size Devices / Phones (<768px)--------------------*/
@media (max-width: 767px) {
    body {
        max-width: 700px;
    }

    #google_translate_element {
        right: 65%;
    }

    #bb {
        width:100%;
        height:200px;
    }

    #iframe-youtube {
        width:100%; height:150px;
    }

    #main-iframe {
        width:100%;height: 535px;
    }

    #email {
        width: 65%;
    }
    #mc-embedded-subscribe, #email{
        display: inline;

    }

    #main-iframe-container {
        height: 535px;
    }

    #main-body {
        height: 535px;
    }
    #iframe-youtube {
        width:80%; height:150px;
    }
    #presentation
    {
        /*margin-left: 15%;*/
        background-color: rgba(0,0,0,0.1);
        /* width: 25%;
         margin-top: 80px;*/
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        top: 200px;

        font-size: 0.5em;
    }

    #main-example {
        font-size: 20px;
    }

    #newsletter-paragraph {
        font-size: 2em;
    }
}





/*  ****************** From Bamboudafrique ******************  */

section{
    border-radius:4px;
    box-shadow: -2px 2px 4px #8a8a8a; /*  -2px 2px 4px rgb(170, 170, 170); */
    position: relative;
    border-left: 1px solid rgb(204, 204, 204);
    border-width: 0px 1px 0px;
    /*border-style: solid;*/
    border-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    color: rgb(33, 33, 33);
    margin-top: 50px !important;
    background-color: rgba(0,0,0,0.2);/*#ced7e6;*/
    color: #ffffff;
    /*padding-right: 1%;*/
    padding-bottom: 50px;

}

#actu_container P
{
    text-align: center;
    position: fixed;
    top: 8%;
    left: 13%;
}

#actu{
    border-radius: 5px;
    /* box-shadow: -2px 2px 4px #8a8a8a;   -2px 2px 4px rgb(170, 170, 170); */
    position: relative;
    /*border-left: 1px solid rgb(204, 204, 204);
    border-width: 0px 1px 0px;
    border-style: solid;
   border-color: rgb(204, 204, 204);
   -moz-border-top-colors: none;
   -moz-border-right-colors: none;
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   border-image: none;
   background: none repeat scroll 0% 0% rgb(255, 255, 255);
   color: rgb(33, 33, 33);*/
    margin-top: 50px !important;

    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 50px;

}

#image_news
{
    float: left;
}

#contenu_news
{
    margin-left: 2%;
}

/*
.image_actu img
{
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
}*/

#actu, #wrapper_accueil
{
    background-color: rgba(255, 255, 255, 0);
}


.box_actu
{
    -moz-box-shadow : 2px 3px 5px #000;
    -webkit-box-shadow: 2px 3px 5px #000;
    box-shadow:2px 3px 5px #000;
    border: 2px solid #FFFFFF;
}

.box_actu:hover
{
    -moz-box-shadow : 2px 3px 5px #eee;
    -webkit-box-shadow: 2px 3px 5px #eee;
    box-shadow:2px 3px 5px #eee;
    border: 2px solid #FFFFFF;
}




/*Header*/

h1 {
    font-family: 'Pacifico', cursive;
    color: #002d40;
    font-weight: normal;

}

header h1 {
    font-size: 2em;
    text-shadow:0px 3px 0px #fff;


    /*position: absolute;
    top:-12%;*/
}


#logo, #titre {
    display: inline-block;
    vertical-align: middle;

    margin-right: 2px;

}

#logo {
    background: url("../images/logo_ac_transparent.png")no-repeat;
    width: 248px;
    height: 120px;
    margin-left: 10%;

    /*padding-bottom: -10px;
    position: relative;
    top:30px;*/


}

#titre {

    text-align: center;
    margin-left: 12%;

}

header {

    height: 150px;
    /*background-color: #edeff4;*/
    margin-bottom: 0;
    /*background: url("../images/storm_3_by_night_fate_stock.jpg") fixed;*/

}



/* Zone de la balise Section */


.products {
    /*display: inline-block;
    vertical-align: top;*/
    width: 80%;
    height: 320px;
    /*border: 1px solid blue;*/
    margin-right: 60px;
    margin-bottom: 70px;

    /*display: none;*/

}

.products:hover {
    /* display: inline-block;
     vertical-align: top;
     width: 280px;*/
    height: 320px;

    margin-right: 60px;
    margin-bottom: 40px;
    /*border: 2px solid #008B8B;*/
}

.products .front {
    width: 80%;
    height: 320px;
    border: 1px solid #eee;
    /*font-family: 'Oswald';*/

    /*margin-right: 20px;*/
    margin-bottom: 40px;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);
    transition:transform 0.5s linear 0s;
    -webkit-transition: -webkit-transform 0.5s linear 0s;
    -moz-transition: -moz-transform 0.5s linear 0s;
    -o-transition: -o-transform 0.5s linear 0s;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
}

.products .back ul{
    text-align: left;
    font-size: 70%;
    font-family: "Century Gothic";
}

.products .back h4{
    font-family: "Century Gothic";
    color:#d27226;

}

.products:hover .front{
    transform: perspective(600px) rotateY(-180deg);
    -webkit-transform: perspective(600px) rotateY(-180deg);
    -moz-transform: perspective(600px) rotateY(-180deg);
    -o-transform: perspective(600px) rotateY(-180deg);

}

.products  .back {
    position: absolute;
    width: 80%;
    padding: 8% 3% 1% 3%;
    height: 320px;
    border: 1px solid #eee;
    color: #000000;
    background-color: #fdf8e5;
    /*margin-right: 20px;*/
    margin-bottom: 40px;
    border-radius: 5px;
    transform: perspective(600px) rotateY(-180deg);
    -webkit-transform: perspective(600px) rotateY(-180deg);
    -moz-transform: perspective(600px) rotateY(-180deg);
    -o-transform: perspective(600px) rotateY(-180deg);
    transition:transform 0.5s linear 0s;
    -webkit-transition: -webkit-transform 0.5s linear 0s;
    -moz-transition: -moz-transform 0.5s linear 0s;
    -o-transition: -o-transform 0.5s linear 0s;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
}

.products:hover  .back {
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    -moz-transform: perspective(600px) rotateY(0deg);
    -o-transform: perspective(600px) rotateY(0deg);

}
/*
.products p {
    position: relative;
    top:350px;
    text-align: center;
    font-family: Oswald;

     text-transform: uppercase;

}*/

.products  .back {
    text-align: center;
}

.front #nom
{
    position: relative;
    top: 5%;
}

.front #img
{
    position: fixed;
    top: 20%;
}

.front #img img
{
    height: 145px;
}

.front #prix
{
    position: fixed;
    top:85%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #5c3334;
    font-family: cursive;
    font-size: 180%;
    font-weight: bold;
    width: 100%;
    text-align: center;
}


/* Gallerie */
/*.sidebar-image-gallery { width: 420px; }*/

.gallery ul li{
    position:relative;float:left;
    width:100px;height:100px;padding:10px;list-style:none;

}
/*permet de créer deux lignes
.gallery ul li:nth-child(4n){clear:left;}*/

.gallery ul li a{
    display:block;overflow:hidden;
    width:100px;height:100px;
    margin-top:0px;margin-left:0px;
    border:0px solid rgba(0,0,0,0.7);
    transition-property:width,height,margin,z-index,border;
    transition-duration:0.4s;

}

.gallery ul li a:hover{
    position:absolute;
    width:400px;height:400px;
    margin-top:-56px;margin-left:-56px;
    z-index:100;
    border:6px solid rgba(0,0,0,0.7);
}

.gallery ul li a img{
    position:absolute;
    width:100px;height:100px;z-index:20;
    transition-property:width,height,z-index;
    transition-duration:0.4s;
    border: 4px solid #ffffff;
}

.gallery ul li a:hover img{
    width:400px;height:400px;
    z-index:100;
    border: 0px solid rgba(0,0,0,0.7);
}

.gallery ul li a p
{
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
    z-index:255;
}
/* Balise TABLE */



/* FOOTER */



#copyright
{
    color: #000000;
    padding-left: 75%;
    position: relative;
    top: 60%;
    margin-top: -2px;
    background-color:rgba(0, 0, 0, 0.2);
}


footer
{
    position: fixed;
    bottom: 0;
    width: 110%;
}





/* PAGES */

.titre_page
{

    /* background-color:#006938 ;*/
    width: 98%;
    font-size: 130%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    background-image: linear-gradient(rgb(242, 242, 242), #8a8a8a);
    background-image:-webkit-linear-gradient(rgb(242, 242, 242), #8a8a8a);
    background-image:-moz-linear-gradient(rgb(242, 242, 242), #8a8a8a);
    background-image:-ms-linear-gradient(rgb(242, 242, 242), #8a8a8a);
    background-image:-o-linear-gradient(rgb(242, 242, 242), #8a8a8a);
}

.titre_page:hover
{
    background-color:rgb(105, 157, 64) ;
    background-image: linear-gradient(#8a8a8a, rgb(242, 242, 242));
    background-image:-webkit-linear-gradient(#8a8a8a, rgb(242, 242, 242));
    background-image:-moz-linear-gradient(#8a8a8a, rgb(242, 242, 242));
    background-image:-ms-linear-gradient(#8a8a8a, rgb(242, 242, 242));
    background-image:-o-linear-gradient(#8a8a8a, rgb(242, 242, 242));
}

article p
{
    margin-bottom: 2%;
}

.div_liens_specialite, #div_specialite
{
    width: 100%;
    padding-left: 2%;
}

.liens_specialite
{
    text-align: center;
}

#div_specialite
{
    padding-top: 4%;
}


/* DIV CLEAR */

.clear
{
    clear: both;
}





/* Test */
.ui-progressbar {
    position: relative;
}
.progress-label {
    position: absolute;
    left: 42%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    display:none;
}

/*  ****************** End From Bamboudafrique ******************  */


/* ===== From Salomon ========= */

body{
    background:#393939;
    font-family: 'Rokkitt', serif;
    color: #dbdbdb;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
    margin:0;
}
.header{
    background:url('../images/back.jpg') no-repeat center;
    width:100%;
    max-height:258px;
    display:block;
    background-size:cover;
    box-shadow: 0px 1px 10px #fff;
}
.header-in{
    background:url('../images/back.jpg') no-repeat center;
    /*width:100%;
    min-height:300px;
    display:block;
    background-size:cover;*/
}
.logo h1{
    font-size:3.5em;
    font-family: 'Lobster Two', cursive;
    text-align:center;
}
.logo h1 a{
    text-decoration:none;
    color:#fff;
}
.logo {
    padding-top: 3em;
}
.header-top-in{
    float:left;
    width:65%;
}
.grid-header{
    float:right;
    padding-top: 1em;
}
.header-grid {
    float: left;
    padding-top: 1em;
}
.act {
    width: 43%;
    float:right;
}
.header-grid li,.grid-header li{
    display:inline-block;
}
.header-grid li a,.grid-header li a{
    text-decoration:none;
    color:#7a7a7a;
    font-size:1.4em;
}
.header-grid li a:hover,.grid-header li a:hover{
    color:#aa381e;
}
.header-grid li label,.grid-header li label{
    color:#7a7a7a;
    font-size:1.2em;
}
.header-top {
    padding-top: 2em;
}
a.done{
    text-decoration:none;
    color:#fff;
    font-size:1.4em;
    background:#cb4324;
    padding: 0.6em;
    vertical-align: top;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    text-align:center;
    width: 100%;
    display: block;
}
a.done:before,a.done:after{
    content:"";
    background:url(../images/star.png) no-repeat 0px ;
    width:20px;
    min-height:20px;
    display:inline-block;
    margin-right:1em;
    vertical-align: sub;
}
a.done:after{
    margin:0 0em 0 1em;
}
.top-nav{
    float:left;
    margin-top: 0.5em;
}
.top-nav ul li{
    display: inline-block;
}
.top-nav ul li  a{
    text-decoration:none;
    color:#fff;
    font-size:1.3em;
    padding: 0em 1em;
}
.top-nav ul li  a:hover,.top-nav ul li.active a{
    color:#111;/*#aa381e;*/
}
.top-nav ul li  label{
    color:#fff;
    font-size:1.2em;
}
/*----*/
.top-nav span.menu:before{
    content: url(../images/menu.png)no-repeat 0px 0px;
    cursor:pointer;
    width:100%;
}
.top-nav span.menu{
    display: none;
}
/*--responsive media-quries--*/
@media(max-width:768px){
    .top-nav ul{
        display: none;
        position:absolute;
        position: absolute;
        width: 96.5%;
        z-index: 9999;
        left: 2%;
        margin: 1em 0;
        background: #aa381e;
    }
    .top-nav span.menu {
        display: block;
        width: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        height: 30px;
    }
    .top-nav ul li label{
        display:none;
    }
    .top-nav ul li,.top-nav ul li.active{
        display: block;
        float:none;
        padding: 0.5em 0;
        text-align: center;
    }
    .top-nav ul li a,.top-nav ul li.active a{
        color:#fff;
        border: none;
        padding: 0;
        background:none;
        margin: 0.3em 1em;
    }
    .top-nav ul li a:hover{
        color:#000;
    }
}
.search{
    float:right;
    position:relative;
    width:23%;
    background:#f6f6f6;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}
.header-bottom {
    background: #CC4324; /*#A01709;/*#35a22c;*/
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    padding: 1em;
    margin: 2em 0 0;
}
.search input[type="text"] {
    outline: none;
    padding:6px 15px;
    background: none;
    width: 79.33%;
    border: none;
    font-size:1.2em;
    color:#a9a7a7;
}
.search input[type="submit"] {
    width: 30px;
    height: 36px;
    background: url(../images/img-sprite.png) -45px -9px no-repeat;
    padding: 0px 1px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 0;
    right: 2px;
}
/*----*/
.banner{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    margin: 2em 0 0;
    background:#fff;
    padding: 1.5em;
}
.banner-in{
    background:url(../images/gal1.jpg) no-repeat center;
    width:100%;
    min-height:400px;
    display:block;
    background-size:cover;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
}
/* Default Skin */
.wmuSlider {
    position: relative;
    overflow: hidden;
}
ul.wmuSliderPagination{
    display:none;
}
.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
    position: absolute;
    width: 37px;
    height: 42px;
    text-indent: -9999px;
    background: url(../images/img-sprite.png)no-repeat;
    z-index: 2;
    cursor: pointer;
}
.wmuSliderPrev {
    background-position:-132px -10px;
    right: 4.2em;
    bottom: 0em;
}
.wmuSliderNext {
    background-position:-92px -10px;
    right: 7em;
    bottom: 0;
}
.banner-wrap{
    text-align:right;
    padding: 6em 5em 4em 0;
}
.banner-wrap h2{
    font-size:4em;
    font-family: 'Lobster Two', cursive;
    color:#fff;
}
.banner-wrap h5{
    font-size:3em;
    font-family: 'Lobster Two', cursive;
    color:#fff;
}
.banner-wrap p{
    font-size:1.4em;
    color:#fff;
}
.banner-wrap p span{
    display:block;
}
/*----*/
.popular h3{
    font-size:2em;
    font-family: 'Lobster Two', cursive;
    color: #FFF;/* #aa381e; */
}
.popular p{
    font-size:1.5em;
    line-height:1.5em;
    color:#dbdbdb;
    width: 80%;
    padding-top: 0.4em;
}
ul.popular-in{
    padding-top: 2em;
}
ul.popular-in li{
    list-style:none;
    border-bottom:1px solid #BAB6B6;
}
ul.popular-in li a{
    color:#848484;
    text-decoration:none;
    padding:0.7em 0;
    display:block;
    font-size: 1.3em;
}
ul.popular-in li:nth-child(4){
    border-bottom:none;
}
ul.popular-in li a:hover{
    color:#aa381e;
}
ul.popular-in li a i{
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/img-sprite.png) no-repeat -184px -22px;
    vertical-align: sub;
    margin-right: 0.5em;
}
.phone{
    padding: 6em 0;
}
/*----*/
ul.number{
    padding-top:2em;
}
ul.number li{
    list-style:none;
}
ul.number li a{
    text-decoration:none;
}
ul.number li span{
    border-top:1px solid #BAB6B6;
}
ul.number li a,ul.number li span{
    color:#fff;
    padding:0.4em 0;
    display:block;
    border-bottom:1px solid #BAB6B6;
    font-size: 1.7em;
}
ul.number li a:hover{
    color:#aa381e;
}
ul.number li i{
    width: 30px;
    height: 24px;
    display: inline-block;
    background: url(../images/img-sprite.png) no-repeat -220px -19px;
    vertical-align: sub;
    margin-right: 0.5em;
}
ul.number li i.mail{
    background-position:-267px -21px;
}
.popular input[type="text"],.popular input[type="submit"] {
    font-size: 1.2em;
    width: 84%;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    background: #fff;
    outline: none;
    border: none;
    color: #a9a7a7;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}
.popular input[type="submit"]{
    color:#fff;
    background: #1879A5;
    padding: 0.4em 0.8em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    width:28%;
    font-size:1.3em;
    font-family: 'Lobster Two', cursive;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    display:block;
}
.popular input[type="submit"]:hover{
    background:#aa381e;
}
.popular form{
    padding:1em 0;
}
/*----*/
.cup-in{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    background:#fff;
    padding: 1.5em;
    margin-right: 5%;
    width: 30%;
    float:left;
    margin-bottom: 2em;
}
.cup-in:nth-child(3),.cup-in:nth-child(6){
    margin-right:0;
}
.cup-in img{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
}
.cup-in p{
    color:#9a9a9a;
    font-size:1.3em;
    line-height:1.2em;
    padding:0.8em 0;
}
span.dollar{
    float:left;
    font-size:2em;
    color:#aa381e;
    font-family: 'Lobster Two', cursive;
}
.details-in{
    float:right;
    margin-top:0.5em;
}
a.details{
    text-decoration:none;
    font-size:1.2em;
    color:#fff;
    background: #1879a5;
    padding: 0.4em 0.8em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}
a.details:hover{
    background: #aa381e;
}
.amet h3,.amet-in h3{
    font-size:2em;
    font-family: 'Lobster Two', cursive;
    color:#aa381e;
}
.amet p,.amet-in p{
    font-size:1.5em;
    color:#fff;
}
p.para-in{
    font-size:1.2em;
    color:#919191;
}
.egg{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    background:#fff;
    padding: 1em;
    margin: 1.5em 0;
}
.egg img{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -o-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
}
.now{
    float:left;
    color:#fff;
    background:#6c6c6c;
    border-radius:100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    width: 65px;
    height: 65px;
    font-size: 1.3em;
    padding: 7px 17px 0;
}
.now span{
    display:block;
    border-bottom:1px solid #fff;
}
p.sed{
    float:right;
    width:75%;
    font-size:1.2em;
    color:#919191;
}
p.sed span{
    border-bottom:1px solid #919191;
}
.amet-grid {
    padding: 0.8em 0;
}
.grid-food{
    padding:0 4% 0 0;
}
.food-grid{
    padding:0;
}
.in-cup{
    padding:2em 0 0;
}
/*----*/
p.vit{
    float:left;
    width:70%;
    color:#fff;
    background:#6c6c6c;
    font-size:1.3em;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 0.7em 1em;
}
a.more{
    float:left;
    width:30%;
    color:#fff;
    font-size:1.5em;
    text-decoration:none;
    background:#cc4324;
    font-family: 'Lobster Two', cursive;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    padding:0.5em 0;
    text-align:center;
}
.browse {
    padding: 1em 0 2.3em;
    position: relative;
}
.amet {
    padding: 0 1.5em 0 0;
}
.amet-in {
    padding: 0 0 0 1.5em;
}
.content-sit {
    padding: 1em 0;
}
.content-grid {
    padding-bottom: 4em;
}
.arrow{
    position: absolute;
    top: 29%;
    right: 28%;
}
.browse:hover .arrow{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;

}
/*--special--*/
.specials{
    padding: 4em 0 6em;
}
.special-bottom {
    padding: 2em 0 0;
}
.specials h2{
    font-size:4em;
    font-family: 'Lobster Two', cursive;
    color:#aa381e;
    text-align:center;
    padding-bottom: 0.5em;
}
.bottom-special{
    /*background:url(../images/gal29.jpg) no-repeat center;*/
    display:block;
    padding: 6em 2em;
    text-align:center;
    margin-right: 3%;
    width: 48.5%;
    background-size: cover;
}
.bottom-special-1{
    background:url(../images/gal38.jpg) no-repeat center;
    display:block;
    padding:6em 2em;
    text-align:center;
    width:48.5%;
    margin:0;
    background-size: cover;
}
/*--------------------------------------------*/
.bottom-special-2{
    background:url(../images/grillade_chiche_taouk.jpg) no-repeat center;
    display:block;
    padding:6em 2em;
    text-align:center;
    width:48.5%;
    margin:0;
    background-size: cover;
}
.bottom-special-3{
    background:url(../images/salade_foie_volaille.jpg) no-repeat center;
    display:block;
    padding: 6em 2em;
    text-align:center;
    margin-right: 3%;
    width: 48.5%;
    background-size: cover;
}
.bottom-special-3 h5, .bottom-special-2 h5 {
    font-size: 1.8em;
}
.bottom-special-3 h5,.bottom-special-2 h5{
    font-size:2em;
    font-family: 'Lobster Two', cursive;
}
.bottom-special-3 h5 a,.bottom-special-2 h5 a{
    text-decoration:none;
    color:#fff;
}
.bottom-special-3 p,.bottom-special-2  p{
    font-size:1.3em;
    color:#fff;
    line-height: 1.2em;
    width: 90%;
    margin: 0.5em auto 1em;
}
/*-----------------------------------------------*/
.bottom-special h5,.bottom-special-1 h5{
    font-size:2em;
    font-family: 'Lobster Two', cursive;
}
.bottom-special h5 a,.bottom-special-1 h5 a{
    text-decoration:none;
    color:#fff;
}
.bottom-special p,.bottom-special-1  p{
    font-size:1.3em;
    color:#fff;
    line-height: 1.2em;
    width: 90%;
    margin: 0.5em auto 1em;
}
.special-in h5{
    font-size:1.5em;
    font-family: 'Lobster Two', cursive;
}
.special-in h5 a{
    text-decoration:none;
    color:#fff;
    padding: 0.5em 0;
    display:block;
}
.special-in h5 a:hover{
    color:#2e8e26;
}
.special-in p{
    font-size:1.3em;
    color:#3e3e3e;
}
.special-top {
    padding: 1em 0;
}
.special-in {
    margin: 0 2% 0 0;
    padding: 0;
    width: 23.5%;
    float:left;
}
.special-in:nth-child(4) {
    margin:0;
}
/*--single--*/
.single-men h5{
    font-size:1.5em;
    font-family: 'Lobster Two', cursive;
    color:#aa381e;
    padding: 0.5em 0;
}
.single-men p{
    font-size:1.3em;
    color:#848484;
    line-height:1.5em;
}
ul.comment-list {
    border: 1px solid #BAB6B6;
    padding:2em;
    list-style: none;
    margin:3em 0;
    list-style:none;
}
.desc p {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #848484;
    margin-top: 1.5em;
    display: inline-block;
}
h5.post-author_head {
    line-height: 1.2em;
    font-size: 1.5em;
    text-transform: none;
    color: #848484;
    margin:0 0 0.5em;
}
h5.post-author_head a {
    color: #555;
}
ul.comment-list img {
    float: left;
    width: 10%;
    margin-right: 20px;
}
.comments-area h3{
    font-size: 2em;
    color: #aa381e;
    margin-bottom: 0.5em;
    font-family: 'Lobster Two', cursive;
}
.comments-area p {
    padding: 8px 0;
    margin: 0;
}
.web-in{
    padding: 8px 0;
}
.comments-area label {
    display: block;
    color: #999;
    font-size:1.2em;
}
.comments-area input[type="text"] {
    padding: 15px 20px;
    width: 75%;
    color: #999;
    font-size: 13px;
    background:none;
    border: 1px solid #D1D1D1;
    border-radius:10px;
    outline: none;
    display: block;
}
.comments-area textarea {
    padding: 15px 30px;
    width:90%;
    color: #999;
    font-size: 13px;
    outline: none;
    height:200px;
    display: block;
    background:none;
    border: 1px solid #D1D1D1;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    resize:none;
}
.sub-in input[type="submit"] {
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    background: #1879A5;
    color: #fff;
    font-size:1.3em;
    width: 25%;
    padding: 0.5em;
    border: none;
    font-family: 'Lobster Two', cursive;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    line-height: 1.2em;
}
.sub-in input[type="submit"]:hover{
    background: #aa381e;
}
.single {
    padding: 5em 0;
}
/*----*/
.store-right h6{
    margin:0 0 0.5em;
    font-size:1.5em;
    color:#aa381e;
    font-family: 'Lobster Two', cursive;
}
ul.store-men li{
    list-style:none;
    border-bottom: 1px solid #D3CFCF;
}
ul.store-men li.last{
    border:none;
}
ul.store-men li a span{
    height: 18px;
    width: 18px;
    background: url(../images/img-sprite.png) no-repeat -184px -22px;
    display: inline-block;
    margin: 0 0.5em 0 0;
    vertical-align: sub;
}
ul.store-men li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #848484;
    font-weight: 600;
    padding: 0.5em 0;
    display: block;
}
ul.store-men li a:hover {
    color:#aa381e;
    padding-left:0.2em;
}
.store-right {
    padding: 0em 0 4em;
}
.grid-product{
    float:right;
    width:55%;
}
a.elit{
    font-size:1.2em;
}
a.elit:hover{
    color:#aa381e;
    border-bottom:1px solid #aa381e;
    text-decoration:none;
}
span.price-in{
    font-size: 1.1em;
}
span.price-in small{
    font-size: 15px;
}
span.price {
    font-size: 1.4em;
    padding: 0.5em  0;
    display: block;
    color: #848484;
}
.fashion {
    float: left;
}
.product {
    padding: 1em 0;
}
/*--404--*/
.four{
    text-align:center;
    padding: 8em 0 10em;
    min-height: 521px;
}
.four h2{
    font-size: 5em;
    color: #aa381e;
    font-family: 'Lobster Two', cursive;
}
.four h3{
    font-size:4em;
    color:#000;
    padding:0.7em 0;
}
/*--checkout--*/
.register-account {
    padding: 7em 0 8em;
}
h4.title {
    color: #aa381e;
    margin-bottom: 0.5em;
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: normal;
    margin-top: 0px;
    border-bottom: 1px solid #DFDDDD;
    padding-bottom: 13px;
    font-family: 'Lobster Two', cursive;
}
p.cart {
    color: #777;
    font-size: 1.2em;
    line-height: 1.8em;
}
p.cart a {
    text-decoration: underline;
    color: #000;
}
p.cart a:hover {
    text-decoration: none;
}
/*--contact--*/
.contact-in h2{
    margin:0.5em 0;
    font-size:4em;
    color:#aa381e;
    text-align:center;
    font-family: 'Lobster Two', cursive;
}
.contact-right  h5 {
    color:#aa381e;
    margin-bottom:0.5em;
    font-size:1.7em;
    margin-top: 0px;
    font-family: 'Lobster Two', cursive;
}
.contact-left input[type="text"],.contact-left textarea{
    padding:14px;
    display:block;
    width:98%;
    background:none;
    border: 1px solid #D1D1D1;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    outline:none;
    color:#464646;
    font-size:1em;
}
.contact-left textarea{
    resize:none;
    height:100px;
}
.contact-left input[type="submit"]{
    outline:none;
    padding:7px 20px;
    color:#FFF;
    cursor:pointer;
    background:#1879A5;
    border:none;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    margin:0.5em 0 ;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Lobster Two', cursive;
}
.contact-left input[type="submit"]:hover{
    background-color:#aa381e;
}
.contact-right p{
    font-size:1.3em;
    color:#dbdbdb;
    line-height: 1.8em;
}
.contact-right p a{
    text-decoration:underline;
    color:#dbdbdb;
    cursor:pointer;
}
.contact-right p a:hover{
    text-decoration:none;
}
.map iframe{
    border:0;
    margin-bottom:15px;
    width: 100%;
    height: 175px;
}
.contact-left span{
    font-size:1.3em;
    display: block;
    padding: 0.5em 0;
}
.contact-in{
    padding: 0em 0 3em;
}
.contact {
    padding: 2em 0 3em;
}
.contact-left {
    padding: 0 2em 0 0;
}
.contact-right {
    padding: 0;
}
.map {
    padding: 0 2em 0 0;
}
/*----*/
.account h2{
    padding:0.5em 0;
    font-size:4em;
    color:#aa381e;
    text-align:center;
    font-family: 'Lobster Two', cursive;
}
.account span{
    font-size:1.3em;
    padding-right: 1.85em;
}
span.name-in {
    padding-right: 2em;
}
span.mail{
    padding-right: 3.8em;
}
span.word{
    padding-right: 2.2em;
}
span.word-in{
    padding-right: 2.6em;
}
.account div{
    padding:1em 0;
}
.account input[type="text"],.account textarea,.account input[type="password"]{
    padding:14px;
    width:60%;
    background:none;
    border: 1px solid #D1D1D1;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    outline:none;
    color:#464646;
    font-size:1em;
}
.account textarea{
    resize:none;
    height:60px;
}
.account input[type="submit"]{
    outline:none;
    padding:7px 20px;
    color:#FFF;
    cursor:pointer;
    background:#35a22c;
    border:none;
    border-radius:10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    margin:0.5em 7em ;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Lobster Two', cursive;
    font-size: 1.2em;
    display:block;
}
.login input[type="submit"]{
    margin:0.5em 2em;
}
.account input[type="submit"]:hover{
    background:#aa381e;
}
.account{
    padding: 2em 0 4em;
}
a.forgot {
    color: #aa381e;
    font-size: 1.2em;
    margin: 0em 7em;
}

.orange-bambou-bg {
    background-color: #CC4324;
}

.orange-bambou-color {
    color: #CC4324;
}
.top100 {
    position: relative;
    top: 100px;
}
.btn-color {
    background-color: #a4682d;
    color: #ffffff;

}
.aligned-center {
    text-align: center;
}
.green-bold {
    font-weight: bold;
    color: #008000;
}

/*--footer--*/
.footer{
    /*background:url(../images/footer.png) no-repeat center;*/
    width:100%;
    margin-top: 100px;
    min-height:250px;
    display:block;
    background-size:cover;
    padding-top:3em;
    background-color: #CC4324;
}
.footer h4{
    font-size:2em;
    font-family: 'Lobster Two', cursive;
    color:#fff;
}
.footer-bottom p{
    font-size: 1.4em;
    color: #440f0a;
    line-height: 1.5em;
    width: 80%;
    padding: 0.5em 0;
}
.footer-bottom p a{
    text-decoration:none;
    color:#fff;
}
.footer-bottom p a:hover{
    color:#440f0a;
}
ul.social-icons {
    padding-top: 1em;
}
ul.social-icons li{
    display:inline-block;
}
ul.social-icons li a span{
    height: 48px;
    width: 48px;
    background: url("../images/img-sprite.png") -360px -13px;
    display: inline-block;
}
ul.social-icons li a span:hover{
    opacity:0.5;
}
ul.social-icons li.tin a span{
    background-position:-410px -13px;
}
ul.social-icons li.linked a span{
    background-position: -461px -13px;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    overflow: hidden;
    width: 61px;
    height: 52px;
    border: none;
    text-indent: 100%;
    background: url('../images/up.png') no-repeat 0px 0px;
}
/*--responsive media quries--*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1024px){
    ul.popular-in li a {
        font-size:1em;
    }
    span.dollar {
        font-size: 1.7em;
    }
    .popular input[type="submit"] {
        width: 33%;
    }
    .b-from-left {
        min-height: 182px;
    }
    .b-animate img {
        padding-top: 4.2em;
    }
    ul.store-men li a {
        font-size: 1.1em;
    }
    span.price {
        padding: 0.2em 0em ;
    }
    .grid-product {
        width: 47%;
    }
}
@media(max-width:768px){
    a.done:before{
        margin-right:0.3em;
    }
    a.done:after{
        margin:0 0 0 0.3em;
    }
    .header-grid li a, .grid-header li a {
        font-size: 1.2em;
    }
    .banner-in {
        min-height: 250px;
    }
    .banner-wrap h2 {
        font-size: 3.3em;
    }
    .banner-wrap h5 {
        font-size: 2.5em;
    }
    .banner-wrap {
        padding: 1.5em 3em 4em 0;
    }
    .search {
        width: 32%;
    }
    .phone {
        padding: 1.5em 0;
    }
    ul.popular-in li a {
        font-size: 1.3em;
    }
    .egg {
        width:52%;
        margin:0 auto;
    }
    .popular input[type="submit"] {
        width: 16%;
    }
    .popular input[type="text"] {
        width: 55%;
    }
    .bottom-special{
        width:100%;
        margin: 0 0 2em;
    }
    .bottom-special-1{
        width:100%;
    }
    .special-in h5 {
        font-size: 1.3em;
    }
    .b-animate img {
        padding-top: 3.2em;
    }
    .grid-product {
        width: 82%;
    }
    .single-top {
        padding: 0;
    }
    .single-bottom {
        padding: 2em 0 0;
    }
    .single {
        padding: 3em 0 2em;
    }
    .banner {
        padding: 1em;
    }
    ul.popular-in {
        padding-top: 1em;
    }
    .cup-in {
        padding: 1em;
        margin-right: 2%;
        width: 32%;
    }
    .amet-in{
        padding:0;
    }
    .header {
        min-height: 500px; /*615px;*/
    }
    .footer-bottom {
        padding: 0;
    }
    .top-nav {
        margin-top: 4px;
    }
    .map {
        padding: 0 0;
    }
}
@media(max-width:640px){
    a.done {
        font-size: 1.1em;
    }
    .header-grid li a, .grid-header li a {
        font-size: 1em;
    }
    .header-grid,.grid-header {
        padding-top: 0.6em;
    }
    .banner-wrap h2 {
        font-size: 2.5em;
    }
    .banner-wrap h5 {
        font-size: 1.8em;
    }
    .special-in {
        margin: 0 3% 0 0;
        width: 48.5%;
    }
    .special-in:nth-child(2){
        margin:0;
    }
    .b-from-left {
        min-height: 235px;
    }
    .b-animate img {
        padding-top: 6.2em;
    }
    .sub-in input[type="submit"] {
        width: 31%;
    }
    .header {
        min-height: 600px;
    }
    .banner-in {
        min-height: 200px;
    }
    .header {
        min-height: 560px;
    }
    .banner-wrap {
        padding: 1.5em 2em 3em 0;
    }
    .wmuSliderPrev {
        right: 2em;
    }
    .wmuSliderNext {
        right: 5em;
    }

    .contact {
        padding: 1em 0 3em;
    }
    .specials {
        padding: 2em 0 4em;
    }
    .single {
        padding: 2em 0 0em;
    }
    .four {
        padding: 6em 0 8em;
        min-height: 420px;
    }
    .account {
        padding: 1em 0 4em;
    }
    .register-account {
        padding: 4em 0 5em;
    }
    .search {
        width: 38%;
    }
    .four h2 {
        font-size: 3.5em;
    }
    .content-grid {
        padding-bottom: 3em;
    }
    ul.comment-list img {
        width: 15%;
    }
}
@media(max-width:480px){
    .header-top-in {
        width: 34%;
    }
    .act {
        display: none;
    }
    .header-grid li a, .grid-header li a {
        font-size: 1.3em;
    }
    .cup-in,.cup-in:nth-child(3) {
        margin-right: 2%;
        width: 48%;
    }
    .cup-in:nth-child(2),.cup-in:nth-child(4){
        margin-right:0;
    }
    p.vit {
        font-size: 1.2em;
    }
    .grid-product {
        width: 70%;
    }
    .b-animate img {
        padding-top: 3.8em;
    }
    .bottom-special h5, .bottom-special-1 h5 {
        font-size: 1.8em;
    }
    .sub-in input[type="submit"] {
        width: 36%;
        font-size:1.1em;
    }
    .banner-in {
        min-height: 170px;
    }
    .banner-wrap h2 {
        font-size: 2em;
    }
    .banner-wrap h5 {
        font-size: 1.5em;
    }
    .banner-wrap p {
        font-size: 1.2em;
    }
    .banner-wrap {
        padding: 1em 1.5em 3em 0;
    }
    .wmuSliderPrev {
        right: 1em;
    }
    .wmuSliderNext {
        right: 4em;
    }
    /*.header {
        min-height: 520px;
    }*/
    .header-top {
        padding-top: 1em;
    }
    .logo {
        padding-top: 2em;
    }
    .header-in {
        min-height: 255px;
    }
    .search {
        width:51%;
    }
    .contact-in h2,.account h2 ,.specials h2{
        font-size: 3em;
    }
    .four h2 {
        font-size: 3em;
    }
    .four h3 {
        font-size: 3em;
        padding: 0.5em 0;
    }
    .four {
        padding: 4em 0 6em;
        min-height: 303px;
    }
    .header {
        min-height: 486px;
    }
    .popular input[type="submit"] {
        width: 24%;
    }
    a.more {
        font-size: 1.4em;
    }
    .egg {
        width: 80%;
    }
    .contact ,.store-right{
        padding: 0em 0 3em;
    }
    .specials {
        padding: 1em 0 3em;
    }
    .single-men p {
        height: 100px;
        overflow: hidden;
    }
    ul.comment-list img {
        width: 18%;
    }
    .desc p{
        margin-top:1em;
    }
}
@media(max-width:320px){
    .grid-header li:nth-child(1),.grid-header li:nth-child(2){
        display:none;
    }
    .header-top-in {
        width: 58%;
    }
    .header-top {
        padding-top: 0.5em;
    }
    .search input[type="text"] {
        font-size: 1em;
        padding:8px 15px;
    }
    .search {
        width: 70%;
    }
    .header-bottom {
        padding: 0.8em;
        margin: 1em 0 0;
    }
    .top-nav {
        margin-top: 0.3em;
    }
    .banner {
        padding: 0.8em;
    }
    .banner-in {
        min-height: 120px;
    }
    .banner-wrap h2 {
        font-size: 1.5em;
    }
    .banner-wrap h5 {
        font-size: 1.2em;
    }
    .banner-wrap p {
        display:none;
    }
    .banner-wrap {
        padding: 1.3em 1em 3.3em 0;
    }
    .header {
        min-height: 375px;
    }
    .logo {
        padding-top: 1em;
    }
    .popular h3,.amet h3, .amet-in h3,.footer h4 {
        font-size: 1.5em;
    }
    .popular p,.amet p, .amet-in p {
        font-size: 1.2em;
    }
    ul.popular-in li a {
        font-size: 1em;
    }
    ul.popular-in {
        padding-top: 0em;
    }
    ul.number li span {
        padding: 0.2em 0;
        font-size: 1.4em;
    }
    ul.number {
        padding-top: 1em;
    }
    .popular input[type="text"] {
        width: 79%;
    }
    .popular input[type="submit"] {
        width: 36%;
    }
    .popular input[type="submit"] {
        padding: 0.3em 0.8em;
    }
    .cup-in {
        padding: 0.7em;
        margin-bottom:1em;
    }
    .cup-in p {
        font-size: 1em;
    }
    a.details {
        font-size: 1.1em;
    }
    span.dollar {
        font-size: 1em;
    }
    .details-in {
        margin-top: 0;
    }
    p.vit {
        font-size: 1em;
        width:65%;
        padding: 0.5em 1em;
    }
    p.vit span{
        display:none;
    }
    a.more {
        width: 35%;
        font-size: 1em;
    }
    p.sed {
        font-size: 1em;
    }
    .content-grid {
        padding-bottom: 1em;
    }
    .footer-bottom p {
        font-size: 1.2em;
        line-height: 1.3em;
        width: 90%;
        padding: 0.3em 0;
    }
    .arrow {
        right: 30%;
    }
    .browse {
        padding: 1em 0 1.3em;
    }
    .footer {
        padding-top: 1em;
    }
    .contact-in h2, .account h2, .specials h2 {
        font-size: 2em;
    }
    .header-in {
        min-height: 209px;
    }
    .account h2,.contact-in h2 {
        padding: 0.2em 0;
    }
    .account input[type="text"], .account textarea, .account input[type="password"] {
        padding: 9px;
        width: 90%;
    }
    .account div {
        padding: 1em 0 0;
    }
    .account span,span.name-in,span.mail,span.word {
        padding-right: 0;
    }
    .account input[type="submit"] {
        margin: 0.5em 0;
    }
    .account ,.contact, .store-right{
        padding: 0em 0 1.5em;
    }
    a.forgot {
        margin: 0.3em 0 0 0;
        display:block;
    }
    .register-account {
        padding: 2em 0 3em;
    }
    .contact-left input[type="text"], .contact-left textarea {
        padding: 10px;
    }
    .contact-in {
        padding: 0em 0 1em;
    }
    .four h2 {
        font-size: 2em;
    }
    .four h3 {
        font-size: 2em;
    }
    .four {
        padding: 2em 0 4em;
        min-height: 198px;
    }
    .b-animate img {
        padding-top: 1.8em;
    }
    .special-in h5 {
        font-size: 1.1em;
    }
    .bottom-special h5, .bottom-special-1 h5 {
        font-size: 1.3em;
    }
    .bottom-special p, .bottom-special-1 p {
        font-size: 1em;
        height: 33px;
        overflow: hidden;
    }
    .bottom-special {
        margin: 0 0 1em;
        padding:3em 1em;
    }
    .specials h2 {
        padding-bottom: 0.2em;
    }
    .specials {
        padding: 1em 0 2em;
    }
    .single-men p {
        height: 81px;
        font-size: 1.2em;
        line-height: 1.3em;
    }
    ul.comment-list {
        padding: 1em;
        margin: 2em 0;
    }
    .desc p {
        margin-top: 0.5em;
    }
    .comments-area h3{
        font-size:1.5em;
    }
    .comments-area input[type="text"] {
        padding: 10px 20px;
        width: 80%;
    }
    .comments-area textarea {
        height: 120px;
    }
    .sub-in input[type="submit"] {
        width: 51%;
        font-size: 1em;
    }
    .grid-product {
        width: 55%;
    }
    .product {
        padding: 1em 0 0;
    }
    .single {
        padding: 1em 0 0em;
    }
    .single-men h5 {
        font-size: 1.3em;
    }


/* ===== End from Salomon ===== */




/*---- Positioning with Great Precision Dark Bar Menu Content and Other Items---------(Temporarily for dark bar)*/
@media (min-width: 769px) and (max-width: 842px) {

}
@media (min-width: 843px) and (max-width: 918px) {

}
@media (min-width: 919px) and (max-width: 992px) {

}
@media (min-width: 993px) and (max-width: 1068px) {

}
@media (min-width: 1069px) and (max-width: 1143px) {

}
@media (min-width: 1144px) and (max-width: 1219px) {

}
@media (min-width: 1220px) and (max-width: 1295px) {

}
@media (min-width: 1296px) and (max-width: 1295px) {

}




