{% extends 'AFMPUserBundle:Layout:offline_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<h1><span class="fa fa-question"></span> Mot de passe perdu</h1>
	{% trans_default_domain 'FOSUserBundle' %}
    <p style="margin: 0px; color: #999;">
        Vous avez déjà fait la demande pour modifier votre mot de passe. Consultez votre boite email.
    </p>
{% endblock %}

{% block under %}
	<a href="{{ path('fos_user_security_login') }}">J'ai déjà un compte</a>
{% endblock %}