$red: #951919;
$light_gray: #f5f5f5;
$gray: darken($light_gray, 20%);
$light_txt: #999999;
$txt: #333333;
$black: $txt;

// Calendar
$theoretical: #dc9a0d;
$practical: #0b72b3;
$full: $red;

$small: 620px;
$medium: 768px;
$large: 1024px;