<form id="invoice_search" action="" method="post">
    {{ form_widget(form._token) }}
    <div class="clearfix"></div>
    <div class="ecart20"></div>
    {{ form_widget(form.query) }}
    <div style="float: left; margin: 10px 0 0 20px;">
        {{ form_widget(form.payment) }}
    </div>
    <br class="clear">
</form>
<div class="ecart10"></div>