{% extends "::Layout/layout.html.twig" %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with { active:''} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

    {% include('MainBundle:Common:banner.html.twig') %}

    <div class="search">
        <form>
            <input type="text" value="Search store here ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"> </div>

    <!---->
    <div class="container">
        <div class="account">
            <h2>Account</h2>
            <form>
                <div>
                    <span>First Name</span>
                    <input type="text">
                </div>
                <div>
                    <span class="name-in">Last Name</span>
                    <input type="text">
                </div>
                <div>
                    <span class="mail">Email</span>
                    <input type="text">
                </div>
                <div>
                    <span class="word">Password</span>
                    <input type="password">
                </div>
                <input type="submit" value="Login">
            </form>
        </div>

    </div>

{% endblock %}
