{% extends "::Layout/layout.html.twig" %}
{% block title %}{{ parent() }} - Casablanca{% endblock %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with {active: 'galery'} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

    {#{% include('MainBundle:Common:banner.html.twig') %}#}
    <div class="container" style="padding-top: 100px;">

    </div>
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
