{% extends "::Layout/layout.html.twig" %}
{% block title %}{{ parent() }} - Casablanca{% endblock %}
{% block body %}
    {% include('MainBundle:Common:header.html.twig') with {active: 'home'} %}
    <!--========================================================
                           CONTENT
 =========================================================-->

	{% include('MainBundle:Common:banner.html.twig') %}

	<div class="container" style="padding-top: 100px;">
			<div class="specials" style="padding-top: 0;">
				<div class="special-bottom">
					{% for key, value in specialityList %}
						{% if loop.first or loop.index == 2 or loop.index == 3 or loop.index == 4 or loop.index == 1 %}
							<div class="col-md-5 bottom-special" style="background-image: url({{ asset('images/'~value.specialitylistName) }});">
								<a href="{{ path('speciality', {'category' : value.title}) }}" class="details">{{ value.title }}</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

	<!---->

{% endblock %}
{% block footer %}
	{% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}





